:root {
  --customer1: #c5fffd;
  --customer2: #88d9e6;
  --customer3: #8b8bae;
  --customer4: #526760;
  --customer5: #374b4a;
  --developer1: #202c39;
  --developer2: #283845;
  --developer3: #b8b08d;
  --developer4: #f2d492;
  --developer5: #f29559;
  --white: #ffffff;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  vertical-align: auto;
}

.a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: larger;
  font-weight: bolder;
  text-decoration: none;
}
p {
  margin-top: 10px !important;
}

.footer1 {
  background-color: var(--customer5);
}

.a1 {
  color: var(--customer2);
}


.footer2 {
  background-color: var(--developer4);
}

.a2 {
  color: var(--developer1);
}


@media (max-width: 768px) {
  .footer {
    height: 7%;
  }

  .footer a {
    font-size: large;
  }
}

@media (max-width: 375px) {
  .footer {
    height: 9%;
  }

  .footer a {
    font-size: medium;
  }
}
