:root {
  --developer1: #202C39;
  --developer2: #283845;
  --developer3: #B8B08D;
  --developer4: #F2D492;
  --developer5: #F29559;
  --white: #FFFFFF;
}

/* The sidebar menu */
.sidenav {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    /* z-index: 1; */
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: var(--developer5); /* Black */
    overflow-x: hidden;/* Disable horizontal scroll */
    padding: 10px;
    margin-left: 0%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: var(--developer2);
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .dev-mall-list-item {
    background-color: var(--developer4);
    color: var(--developer2);
    font-weight: bold;
    width: 80%;
    padding: 5px;
  }

  .dev-mall-list-item-title {
    color: var(--developer1);
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--developer4)
  }

  .dev-mall-list-item-descrip {
    color: var(--white);
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--developer2);
  }

  .dev-mall-list-item:hover {
    background-color: var(--developer4);
    color: var(--developer2);
    cursor: pointer;
  }

  .mall-list-button {
    background-color: var(--developer2);
    color: var(--developer4);
    font-weight: bold;
    outline: solid;
    margin-top: 15px;
    margin-left: 25%;
  }

  .mall-list-button:hover {
    background-color: var(--developer4);
    color: var(--developer2);
    outline: solid;
  }

  .marginAdjust{
    margin-top: 4% !important;
  }